body {
  background-color: #AABBCC;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Yellowtail;
  font-size: 230%;
}
.box {
  text-align: center;
}
a:link, a:visited, a:hover, a:active {
  color: #000;
  text-decoration: none;
}